:root {
    --background-dark: #00193f;
    --primary-balck:#5c0606;
    --primary-white:#FFFFFF;
    --primary-yellow: #b1d450;
    --text-light: #EAEAEA;
    --text-gray: #A0A0A0;
    --primary-hover: hsl(103, 93%, 37%);
    --primary-blue:rgba(0, 0, 0, 0.911);
    --primary-darkyellow:#b1d450;
  }
  

  /* style={{
    backgroundImage: `linear-gradient(to right, var(--primary-yellow), var(--primary-white))`,
  }} */